{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "curly": 1,
    "indent": "off",
    "comma-dangle": "off",
    "require-jsdoc": 0,
    "object-curly-spacing": ["error", "always"],
    "no-unused-vars": [
      "error",
      { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
    ],
    "operator-linebreak": [
      "error",
      "after",
      {
        "overrides": {
          "?": "before",
          ":": "before"
        }
      }
    ],
    "no-debugger": "off"
  },
  "extends": ["eslint:recommended", "google"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "requireConfigFile": false,
    "allowImportExportEverywhere": true,
    "ecmaVersion": 2020
  }
}
