@import "variables";
@import "mixins";

.excel__toolbar {
  position: absolute;
  right: 0;
  left: 0;
  top: $header-height;
  height: $toolbar-height;
  display: flex;
  border-top: 1px solid $grey-color-border;
  border-bottom: 1px solid $grey-color-border;
  padding: 7px 10px;
  justify-content: space-evenly;

  .button {
    @include button(red);
  }
}
